/*Colores*/
/*Letras*/
/* MAPS */
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: white; }

a:visited {
  color: white; }

body {
  background-color: #d4d4d4; }

.nav-link {
  color: #e4e4e4 !important; }

header {
  padding: 20px;
  font-size: 24px;
  color: #DBDC89;
  background-color: #d4d4d4;
  background-size: cover;
  background-image: url(../img/header.png);
  font-family: 'Cormorant', serif; }

.menu {
  background-color: #4fa062; }

@media (max-width: 768px) {
  header {
    text-align: center; } }

.content__card {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  height: 300px;
  position: relative;
  background-color: #8eb468;
  border: 1px solid #4fa062;
  border-radius: 20px; }

.content__card:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

@media (max-width: 768px) {
  .content__card:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.receta__card {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease-out;
  -ms-transition: -ms-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  position: relative;
  border-radius: 20px;
  cursor: pointer; }

.round__img {
  border-radius: 5%;
  object-fit: cover;
  width: 100%; }

.receta__text {
  text-align: center; }

.receta__card:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

@media (max-width: 768px) {
  .receta__card:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.map {
  width: 100%; }

.text {
  font-size: 17px; }

.main_image {
  width: 560px;
  height: 315px;
  border-radius: 5%;
  object-fit: fill; }

@media (max-width: 768px) {
  .main_image {
    width: 400px;
    height: 225px; } }

footer {
  background-color: #4fa062; }

.footer-text {
  padding: 15px;
  color: #e4e4e4; }
