*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;
    color: white;
}

a:visited{
    color: white;
}

body{
    background-color: $background-color;
}

.nav-link{
    color: #e4e4e4 !important;
}