    
    /*Colores*/
    $background-color: #d4d4d4;
    $primary-color: black;
    $secondary-color: #8eb468;
    $terciary-color: #4fa062;
    $quaternary-color : #003740;
    $title-color: #DBDC89;
   
   /*Letras*/
    $text-small: 12px;
    $text-medium: 17px;
    $text-large: 24px;

    /* MAPS */
    $home_animations: (
        animation: ease-out,
        seconds: .2s,
        scale-hover: 1,
        scale-hover-mobile: 1
    );

    $recetas_animations: (
        animation: ease-out,
        seconds: .4s,
        scale-hover: 1,
        scale-hover-mobile: 1
    );