    
    /*Colores*/
    $background-color: rgb(159, 191, 137);
    $primary-color: black;
    $secondary-color: #8eb468;
    $terciary-color: #DBDC89;
   
   /*Letras*/
    $text-small: 12px;
    $text-medium: 17px;
    $text-large: 24px;